.player {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000;
    display: none;

    &.active {
        display: block;
    }

    .video {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background: #000;

        video {
            width: 100%;
            height: 100%;
        }

        .message {
            position: absolute;
            z-index: 10;
            width: 540px;
            height: 50px;
            margin-left: -270px;
            margin-top: -25px;
            top: 50%;
            left: 50%;
            background: #2ecc71;
            color: #fff;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            font-weight: 100;
            text-transform: uppercase;

            &.pause {
                background: #3498db;
            }
        }
    }

    .toolbar {
        position: absolute;
        z-index: 1;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 70px;
        background: rgba(0, 0, 0, 0.8);
        .transition(all, .4s);

        &.hide {
            bottom: -70px;
        }

        &.top {
            top: 0px;
            bottom: auto;

            &.hide {
                top: -70px;
                bottom: auto;
            }
        }

        span {
            position: absolute;
            bottom: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            font-weight: 100;
            color: #fff;

            &.download-percent {
                left: 20px;
                color: #f1c40f;
            }

            &.duration {
                right: 20px;
            }

            &.speed {
                left: 20px;
            }
        }

        .bar {
            position: absolute;
            bottom: 30px;
            right: 40px;
            left: 100px;
            height: 10px;
            background: #333;

            .inner {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;

                &.download {
                    background: #f1c40f;
                }
                &.play {
                    background: #3498db;
                }
            }
        }
    }
}