@import "../../stylesheets/reset.less";

@touchHeight: 50px;
@searchHeight: 50px;

body {
    background: #fff;
}
.search {
    position: fixed;
    top: 0px;
    height: @searchHeight;
    right: 0px;
    left: 0px;
    .box-sizing(border-box);
    .box-shadow(none);
    background: none;
    border: none;
    color: #000;
    font-family: inherit;
    font-weight: 100;
    outline: none;
    font-size: 38px;
}

.touch {
    position: fixed;
    padding: 10px 30px;
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #3498db;
    color: #fff;
    text-align: center;
    .box-sizing(border-box);
    height: 50px;

    &.up {
        right: 0px;
        left: 0px;
        top: @searchHeight;
    }

    &.right {
        right: 0px;
        left: 0px;
        top: (@searchHeight+@touchHeight);
    }

    &.left {
        right: 0px;
        left: 0px;
        top: (@searchHeight+2*@touchHeight);
    }

    &.down {
        right: 0px;
        left: 0px;
        top: (@searchHeight+3*@touchHeight);
    }


    &.play {
        right: 0px;
        left: 0px;
        bottom: 50px;
        background: #2ecc71;
    }

    &.escape {
        right: 0px;
        left: 0px;
        bottom: 0px;
        background: #e74c3c;
    }
}

.swipe-container {
    position: fixed;
    bottom: 100px;
    top: 200px;
    right: 0px;
    left: 0px;
} 