@import "../../stylesheets/reset.less";

@touchVerticalHeight: 80px;

@touchLateralWidth: 80px;
@touchLateralHeight: 250px;

@searchHeight: 50px;

body {
    background: #fff;
}
.search {
    position: fixed;
    top: 0px;
    height: @searchHeight;
    right: 0px;
    left: 0px;
    .box-sizing(border-box);
    .box-shadow(none);
    background: none;
    border: none;
    color: #000;
    font-family: inherit;
    font-weight: 100;
    outline: none;
    font-size: 38px;
}

.touch {
    position: fixed;
    padding: 0px 30px;
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #3498db;
    color: #fff;
    text-align: center;
    .box-sizing(border-box);

    &.up, &.down, &.right, &.left {
        line-height: @touchVerticalHeight;
        font-size: (@touchVerticalHeight/2);
    }

    &.up {
        right: @touchLateralWidth;
        left: @touchLateralWidth;
        top: @searchHeight;
        height: @touchVerticalHeight;
        line-height: @touchVerticalHeight;
    }

    &.right {
        .transform-origin(0%, 0%);
        right: -@touchLateralHeight;
        width: @touchLateralHeight;
        height: @touchLateralWidth;
        top: @searchHeight;
        line-height: @touchLateralWidth;
        .rotate(90deg); 
    }

    &.left {
        .transform-origin(0%, 0%);
        left: 0;
        width: @touchLateralHeight;
        height: @touchLateralWidth;
        top: (@searchHeight+@touchLateralHeight);
        line-height: @touchLateralWidth;
        .rotate(-90deg); 
    }

    &.down {
        right: @touchLateralWidth;
        left: @touchLateralWidth;
        top: (@searchHeight+ @touchLateralHeight - @touchVerticalHeight );
        height: @touchVerticalHeight;
        line-height: @touchVerticalHeight;
    }


    &.play {
        right: @touchLateralWidth;
        left: @touchLateralWidth;
        height: (@touchLateralHeight - 2*@touchVerticalHeight);
        top: (@searchHeight+@touchVerticalHeight);
        background: #2ecc71;
        line-height: (@touchLateralHeight - 2*@touchVerticalHeight);
    }

    &.settings {
        right: 0px;
        left: 0px;
        bottom: 60px;
        background: #2c3e50;
        padding: 15px 30px;
    }

    &.escape {
        right: 0px;
        left: 0px;
        bottom: 0px;
        background: #e74c3c;
        padding: 15px 30px;
    }
}