<div class="header">
    <input type="text" class="search" placeholder="What do you want to watch today ?" />
    <a href="#" class="close">&times;</a>
</div>
<%= view.component("list.movies", {}, "movies") %>
<%= view.component("player", {}, "player") %>
<%= view.component("keyboard", {}, "keyboard") %>
<div class="intro">
    <div class="inner">
        <img src="/static/images/mobile.png" />
        <div class="message">
            Connect a remote control by visiting <span class="url"><span class="ip">0.0.0.0</span>/remote/</span>
            on your smartphone      
        </div>
    </div>
</div>