<div class="toolbar top">
    <span class="download-percent">O%</span>
    <div class="bar">
        <div class="inner download"></div>
        <div class="inner play"></div>
    </div>
</div>
<div class="video">
    <video id="video"></video>
    <div class="message wait">Preparing your movie...</div>
    <div class="message pause">Press play to watch</div>
    <div class="message speed">Playback Rate x<span class="value">0</span></div>
    <div class="message error error-src">Error streaming this movie</div>
</div>
<div class="toolbar bottom">
    <span class="speed">O KB/s</span>
    <span class="duration">--</span>
</div>